
<footer class="pt-16 pb-8 flex flex-col items-center justify-center">
  <div class="mx-auto max-w-2xl">
    <a href="mailto:info@alnafi.edu.pk" class="btn-secondary py-3 px-8 w-fit" style="background-color: #262626;border: none;box-shadow: 0 0 0 0 #fff;color: #fff;cursor: pointer;transition: all .3s ease-in-out;text-decoration: inherit;padding-bottom: 0.75rem;padding-top: 0.75rem;padding-left: 2rem;padding-right: 2rem;width: fit-content;">
      Open Ticket (info@alnafi.edu.pk)
    </a>
  </div>
</footer>
